<div class="row">
    <div class="col-sm-3">
        <img src="~/images/stop.jpg" />
    </div>
    <div class="col-sm-9">
        <h1>Unauthorized</h1>
        <h3 style="color:red">You don't have permissions to access this page!</h3>
    </div>
</div>