@model AvarIT.Models.InventoryViewModels.Miscellaneous

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Miscellaneous</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AssignedUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssignedUser" class="form-control" />
                <span asp-validation-for="AssignedUser" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AvarTagNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AvarTagNumber" class="form-control" />
                <span asp-validation-for="AvarTagNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ItemType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ItemType" class="form-control" />
                <span asp-validation-for="ItemType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LANMAC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LANMAC" class="form-control" />
                <span asp-validation-for="LANMAC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="License" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="License" class="form-control" />
                <span asp-validation-for="License" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MachineName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelNo" class="form-control" />
                <span asp-validation-for="ModelNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModelSeries" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModelSeries" class="form-control" />
                <span asp-validation-for="ModelSeries" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OfficeLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OfficeLocation" class="form-control" />
                <span asp-validation-for="OfficeLocation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderNo" class="form-control" />
                <span asp-validation-for="OrderNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurchaseDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Retired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Retired" class="form-control" />
                <span asp-validation-for="Retired" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SerialNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WLANMAC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WLANMAC" class="form-control" />
                <span asp-validation-for="WLANMAC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Warranty" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
