################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvarIT-qzhouavar/src/AvarIT/node_modules
